<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Data schemas</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
	<div class="container">
		<h4 class="navbar-brand">
			<span class="navbar-text">FakeCSV</span>
		</h4>
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<span class="navbar-text">Schema</span>
			</li>
		</ul>
		<form class="d-flex">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<span class="navbar-text">Hello User</span>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}" tabindex="-1">Logout</a>
				</li>
			</ul>
		</form>
	</div>
</nav>
<!-- MAIN FORM TO SEND POST/GET -->
<form action="" method="post" class="" style="margin-left: 10%; margin-right: 10%">
	<!-- HEADER and BUTTOM SUBMIT -->
	<div class="form-row">
		<div class="form-group col-md-10 mb-0">
			<h4>New Schema</h4>
		</div>
		<div class="form-group col-md-2 mb-0">
			<button type="submit" class="btn btn-primary btn-lg">Submit</button>
		</div>
	</div>
	<!-- SCHEMA MAIN BODY-->
	<div class="form-row mb-4">
		<div class="form-group col-md-3 mb-0">
			<label for="id_name">Name:</label>
			<input type="text" name="name" value="None" maxlength="30" required="" id="id_name" class="form-control">
		</div>
		<div class="form-group col-md-9 mb-0">
		</div>
		<div class="form-group col-md-3 mb-0">
			<label for="id_column_separator">Column separator:</label>
			<select name="column_separator" id="id_column_separator" class="form-control custom-select">
				<option value="," selected="">Comma</option>
				<option value=";">Semicolon</option>
			</select>
		</div>
		<div class="form-group col-md-9 mb-0">
		</div>
		<div class="form-group col-md-3 mb-0">
			<label for="id_string_cherecter">String cherecter:</label>
			<select name="string_cherecter" id="id_string_cherecter" class="form-control custom-select">
				<option value="'" selected="">Single quotes</option>
				<option value="&quot;">Double quates</option>
				<option value="`">Back quotes</option>
			</select>
		</div>
		<div class="form-group col-md-9 mb-0">
		</div>
	</div>
	<!--HEADER SCHEMA COLUMNS -->
	<div class="form-row">
		<div class="form-group col-md-10 mb-0">
			<h4>Schema columns</h4>
		</div>
	</div>
	<!-- COLUMN STATUS INITIAL COLUMN-->
	<div class="form-row mt-2">
		<div class="form-group col-md-2 mb-0">
			<label for="id_name">Status name:</label>
			<!-- attr name with order tree-->
			<input type="text" name="name_1" value="column name" maxlength="100" required="" id="id_name" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_status">Status:</label>
			<select name="status_1" id="id_status" class="form-control custom-select" >
				<option value="a" selected="">all</option>
				<option value="s">soon</option>
				<option value="n">now</option>
				<option value="f">finished</option>
			</select>
		</div>
		<div class="form-group col-md-7 mb-0">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_order">Order:</label>
			<input type="text" name="order_1" maxlength="20" required="" id="id_order" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<div style="margin-top: 40px; margin-left: 5px;">
				<a class="text-danger control mt-5" href="#">Delete</a>
			</div>
		</div>
	</div>
	<!-- ROW LOGIC OPERATOR OR -->
	<div class="form-row mt-2">
		<div class="alert alert-warning col" role="alert">
			OR
		</div>
	</div>
	<!-- COLUMN TIME-->
	<div class="form-row mt-2">
		<div class="form-group col-md-2 mb-0">
			<label for="id_name">Time name:</label>
			<!-- attr name with order tree-->
			<input type="text" name="name_1" value="column name" maxlength="100" required="" id="id_name" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_match_status">Match status:</label>
			<select name="match_status_1" id="id_match_status" class="form-control custom-select">
				<option value="n" selected="">now</option>
				<option value="t">time table</option>
			</select>
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_valfrom">Time from:</label>
			<input type="time" name="valfrom_1" maxlength="7" required="" id="id_valfrom" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_valto">Time to:</label>
			<input type="number" min="0" max="130" name="valto" maxlength="7" required="" id="id_valto" class="form-control">
		</div>
		<div class="form-group col-md-5 mb-0">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_order">Order:</label>
			<input type="text" name="order_1" maxlength="20" required="" id="id_order" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<div style="margin-top: 40px; margin-left: 5px;">
				<a class="text-danger control mt-5" href="#">Delete</a>
			</div>
		</div>
	</div>
	<!-- ROW LOGIC OPERATOR AND -->
	<div class="form-row mt-2">
		<div class="form-group col-md-1 mb-0">
		</div>
		<div class="form-group col-md-11 mb-0">
			<div class="alert alert-info col" role="alert">
				AND
			</div>
		</div>
	</div>
	<!-- COLUMN SCORE-->
	<div class="form-row mt-2">
		<div class="form-group col-md-2 mb-0">
			<label for="id_name">Score name:</label>
			<!-- attr name with order tree-->
			<input type="text" name="name_1" value="column name" maxlength="100" required="" id="id_name" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_score">Type:</label>
			<select name="score_1" id="id_score" class="form-control custom-select">
				<option value="a" selected="">total</option>
				<option value="h">home</option>
				<option value="g">guest</option>
				<option value="c">compair</option>
			</select>
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_comparison">Comparison:</label>
			<select name="comparison_1" id="id_comparison" class="form-control custom-select">
				<option value="==" selected="">==</option>
				<option value="<=">&lt;=</option>
				<option value=">=">&gt;=</option>
				<option value=">">&gt;</option>
				<option value="<">&lt;</option>
			</select>
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_valto">Score:</label>
			<input type="number" min="0" max="20" name="valto" maxlength="7" required="" id="id_valto" class="form-control">
		</div>
		<div class="form-group col-md-5 mb-0">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_order">Order:</label>
			<input type="text" name="order_1" maxlength="20" required="" id="id_order" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<div style="margin-top: 40px; margin-left: 5px;">
				<a class="text-danger control mt-5" href="#">Delete</a>
			</div>
		</div>
	</div>
	<!-- ROW LOGIC OPERATOR AND -->
	<div class="form-row mt-2">
		<div class="form-group col-md-2 mb-0">
		</div>
		<div class="form-group col-md-10 mb-0">
			<div class="alert alert-info col" role="alert">
				AND
			</div>
		</div>
	</div>
	<!-- COLUMN SCORE COMPAIRSON-->
	<div class="form-row mt-2">
		<div class="form-group col-md-2 mb-0">
			<label for="id_name">Score compair name:</label>
			<!-- attr name with order tree-->
			<input type="text" name="name_1" value="column name" maxlength="100" required="" id="id_name" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_score">Type:</label>
			<select name="score_1" id="id_score" class="form-control custom-select">
				<option value="a" selected="">total</option>
				<option value="h">home</option>
				<option value="g">guest</option>
				<option value="c">compair</option>
			</select>
		</div>
		<div class="form-group col-md-1 mb-0">
			<div style="margin-top: 40px;">
				<p>Team home</p>
			</div>
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_valto">Fora home:</label>
			<input type="number" min="-5" max="5" name="valto" maxlength="7" required="" id="id_valto" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_comparison">Comparison:</label>
			<select name="comparison_1" id="id_comparison" class="form-control custom-select">
				<option value="==" selected="">==</option>
				<option value="<=">&lt;=</option>
				<option value=">=">&gt;=</option>
				<option value=">">&gt;</option>
				<option value="<">&lt;</option>
			</select>
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_valto">Fora guest:</label>
			<input type="number" min="-5" max="5" name="valto" maxlength="7" required="" id="id_valto" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<div style="margin-top: 40px;">
				<p>Team guest</p>
			</div>
		</div>
		<div class="form-group col-md-2 mb-0">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_order">Order:</label>
			<input type="text" name="order_1" maxlength="20" required="" id="id_order" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<div style="margin-top: 40px; margin-left: 5px;">
				<a class="text-danger control mt-5" href="#">Delete</a>
			</div>
		</div>
	</div>
</form>
	<hr>
<!-- EDD COLUMN FORM -->
<form style="margin-left: 10%; margin-right: 10%;" class="border border-secondary rounded p-3">
	<div class="form-row mt-2">
		<div class="form-group col-md-2 mb-0">
			<label for="id_name">Column name:</label>
			<!-- attr name with order tree-->
			<input type="text" name="name_1" value="column name" maxlength="100" required="" id="id_name" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_match_status">Filter type:</label>
			<select name="match_status_1" id="id_match_status" class="form-control custom-select">
				<option value="n" selected="">by time</option>
				<option value="t">by score</option>
			</select>
		</div>
		<div class="form-group col-md-4 mb-0">
		</div>
		<div class="form-group col-md-1 mb-0">
			<div class="form-check form-check-inline">
				<div style="margin-top: 40px; margin-left: 5px;">
					<label class="form-check-label ml-2 mr-2" for="inlineRadio2">New </label>
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
				</div>
			</div>
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_order">Order:</label>
			<input type="text" name="order_1" maxlength="20" required="" id="id_order" class="form-control">
		</div>
		<div class="form-group col-md-1 mb-0">
			<div class="form-check form-check-inline">
				<div style="margin-top: 40px; margin-left: 5px;">
					<label class="form-check-label ml-1 mr-1" for="inlineRadio2">Add to</label>
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
				</div>
			</div>
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_order">Order:</label>
			<select name="logicoperator_1" id="id_logicoperator" class="form-control custom-select">
				<option value="" selected="">---------</option>
				<option value="1"># 1</option>
				<option value="2"># 1_1</option>
			</select>
		</div>
		<div class="form-group col-md-1 mb-0">
			<label for="id_logicoperator">Logicoperator:</label>
			<select name="logicoperator_1" id="id_logicoperator" class="form-control custom-select">
				<option value="" selected="">---------</option>
				<option value="or">OR</option>
				<option value="and">AND</option>
			</select>
		</div>
	</div>
	<div class="form-row mt-3">
		<div class="form-group col-md-2 mb-0">
			<button type="submit" class="btn btn-primary btn-lg">Add column</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="./formcreator.js"></script>
</html>
